/* 4 - External CSS */
h3 {
    color: green;
}

/* Classes */
.paragraph {
    background-color: black;
    color: blueviolet;
}

/* Id */
#exclusive-title {
    color: cornflowerblue;
    background-color: yellowgreen;
    font-size: 50px;
}

/* Ordem das regras */
/* h2 {
    border-bottom: 5px solid red;
} */

.title {
    border-bottom: 6px solid blue;
}

#algum-titulo {
    border-bottom: 5px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #366049;
}

/* Aprofundando em Hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(123, 324, 205);
}

.rgba {
    color: rgba(105, 77, 94, 25);
}

.hsl {
    color: hsl(201, 80%, 69%);
}

.hsl-2 {
    color: hsl(234, 85%, 50%);
}

/* Background */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(213, 40, 40);
    color: #fff000;
}

.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(91, 120, 20, 0.2);
}

/* BG image */
.bg-image {
    background-image: url(../img/nature.jpg);
    padding: 10px;
    color: white;
}

/* Centralizando Bg Image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e altura */
.height-width {
    background-color: #3f6f69;
    height: 200px;
    width: 100px;
}

.height-width-2 {
    height: 300px;
    background-color: blueviolet;
}

/* Padding */
.without-padding,
.padding {
    background-color: #444;
    color: #fff;
}

.padding {
    background-color: #000;
    padding: 20px;
}

/* Padding individual */
.individual-padding {
    background-color: crimson;
    color: #000;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand-padding */
.shorthand-padding {
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #888;
    padding: 10px 20px;
}

/* Padding com width */
.without-border-box {
    background-color: #777;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #999;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 5px dotted #543;
    padding: 10px;
}

/* Borda individual */
.border-left {
    border-left: 5px solid red;
    background-color: #222;
    color: #fff;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #339;
    background-color: #000;
    color: white;
    padding: 20px;
}

/* Borda arredondada */
.rounded-p {
    border: 5px solid blueviolet;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.rounded-p-2 {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

/* Margem */
.margin {
    margin: 10px;
    background-color: #366049;
}

.margin-top {
    margin-top: 50px;
    background-color: #55a398;
    padding: 10px;
}

.margin-shorthand {
    margin: 5px 10px 15px 20px;
    background-color: #fff000;
} 

/* Box Model */
.box-model {
    margin: 20px;
    padding: 10px 15px;
    border: 5px solid #3f6f69;
    border-radius: 8px;
    width: 200px;
    height: 100px;
}

/* Text align */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 3px solid red;
}

/* Text decoration */
.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: rgb(222, 25, 4);
}

/* Text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.spacing {
    letter-spacing: 5px;
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: 'Courier New';
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* Font-style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font weight */
.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font-Size */
.small {
    font-size: 6px;
}

.big {
    font-size: 70px;
}

/* Display */
.inline-box {
    width: 50px;
    height: 50px;
    background-color: #366049;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: #339;
    display: block;
    margin: 8px;
}

/* Escondendo elementos */
.invisible {
    display: none;
}

/* Static */
.static {
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}

/* Relative */
.relative {
    position: relative;
    background-color: #578;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* Absolute */
.absolute {
    position: absolute;
    background-color: #778;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

/* Relative com absolute */
.relative-container {
    width: 300px;
    height: 300px;
    border: 3px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #339;
    position: absolute;
}

.absolute-1 {
    top: 15px;
    left: 20px;
}

.absolute-2 {
    bottom: 15px;
    right: 10px;
}

/* Fixed */
.fixed {
    width: 100px;
    height: 100px;
    background-color: #3f6f69;
    border: 3px solid rgb(0, 255, 132);
    position: fixed;
    top: 50px;
    right: 100px;
}

/* Sticky */
.sticky {
    width: 100px;
    height: 100px;
    background-color: #004d44;
    border: 3px solid rgb(124, 241, 184);
    position: sticky;
    top: 10px;
}

/* Z-index */
.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #391;
    z-index: 1;
}